body {background-color: #DCDAD7}
/* 顶部 */
.list {background: none repeat scroll 0% 0% #036C8A;
    line-height: 48px;
    font-size: 13px;
}
a:link {
	text-decoration: none;
	color: #000000;
}
a:visited {
	text-decoration: none;
	color: #000000;
}
a:hover {
	text-decoration: none;
}
a:active {
	text-decoration: none;
}
/* 顶部 */
.gonggao {
	color: #Fff;
    background: #000;
    line-height: 26px;
}
/* 首页列表 */
.link{
    width: 990px;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
}
.link .linka{
    background: none repeat scroll 0% 0% #036C8A;
    line-height: 37px;
}
.link .linka strong{
	color: #fff;
}
.linkl {
	text-align:center;
    padding-left: 7px;
    background: none repeat scroll 0% 0% rgb(255, 255, 255);
    padding-top: 0px;
    padding-bottom: 5px;
    float: left;
    overflow: hidden;
}
.linkl ul {
    float: left;
    font-size: 15px;
    padding: 5px;
    overflow: hidden;
	list-style: none;
}
.linkl ul li {
	color: #069;
    width: 115px;
    height: 38px;
    overflow: hidden;
    line-height: 40px;
    float: left;
    margin: 0 3px 3px 1px;
    border: 1px solid #5fc6d0;
}
.linkl li:hover{
	background:#5fc6d0;
}
/* agpdl */
.agpdl{
    position: fixed;
    overflow: hidden;
    left: 100px;
    top: 162px;
    height: 250px;
}
.agpdl2{
    position: fixed;
    overflow: hidden;
    right:100px;
    top: 162px;
    height: 250px;
}
/* 底部 */
.footer {
    margin-top: 5px;
    border: thin dotted black;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    border-right: 1px solid rgb(51, 51, 51);
    background: #fff;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(51, 51, 51);
    margin: 5px auto;
    width: 990px;
    line-height: 28px;
    font-size: 12px;
}
/* 其他页 */
.lyneirong {
	color: #000;
	background: #fff;
	overflow: hidden;
	margin-left: auto;
	margin-right: auto;
}
.info {
	padding-left: 15px;
	background: none repeat scroll 0% 0% rgb(255, 255, 255);
	padding-top: 5px;
	padding-bottom: 5px;
	overflow: hidden;
	border-left: 1px solid rgb(3, 108, 138);
	border-right: 1px solid rgb(3, 108, 138);
	border-bottom: 1px solid rgb(3, 108, 138); 
}
.info ul {
	float: left; 
}
.info ul li {
	float: left;
	width: 120px;
	padding-left: 1px;
	font-size: 13px;
	line-height: 200%;
	overflow: hidden;
	white-space: normal;
	text-overflow: ellipsis; 
}
.info ul li a {
	font-size: 13px; 
}
.navlink { 
    font-size: 16px;
    height: 400px;
    padding: 20px;
    border-left: 1px solid rgb(3, 108, 138);
    border-right: 1px solid rgb(3, 108, 138);
    border-bottom: 1px solid rgb(3, 108, 138);
}
.navlink  ul{
	list-style: none;
	line-height: 30px;
}
.navlink  .int{
	width: 170px;
	height: 30px;
	line-height: 20px;
	text-indent: 4px;
	vertical-align: middle;
	border: solid 1px #ccc;
	padding: 1px 0px;
}
.navlink  li{
	padding-bottom: 10px;
	text-align: left;
}
.navlink  .btn{
	padding: 8px;
	color: #fff;
	background: #0090c6;
}